.App {
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0 auto;
  padding: 30px;
}

/* font-family: 'Elsie', cursive;
font-family: 'Karla', sans-serif; */

.App h1 {
  margin-top: 2rem;
  text-align: center;
  font-family: "Elsie", cursive;
  font-size: 2.5rem;
  opacity: 70%;
}

.App footer {
  font-family: "Karla", sans-serif;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #735d78;
  opacity: 80%;
  font-size: 14px;
}

@media (max-width: 900px) {
  .App {
    background-size: cover;
    height: 69rem;
  }

  .App h1 {
    margin-top: 11rem;
  }
}

@media (max-width: 767px) {
  .App {
    background-size: cover;
    height: 50rem;
  }

  .App h1 {
    margin-top: 2rem;
  }
}
