.App {
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 30px;
}

.App h1 {
  margin-top: 8rem;
  text-align: center;
}

.Generator img {
  width: 50%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.Generator p {
  text-align: center;
  background-color: #d1b3c4;
  opacity: 75%;
  border-radius: 2rem;
  padding: 1.5rem;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  max-width: 12rem;
  display: block;
  margin: 1rem auto;
}

.Generator button {
  background-color: #d1b3c4;
  opacity: 75%;
  border-radius: 2rem;
  padding: 1rem;
  border: none;
  outline: none;
  text-align: center;
  box-shadow: 0 9px #999;
  display: block;
  margin: 0 auto;
}

.Generator button:hover {
  cursor: pointer;
  background-color: #b392ac;
}

.Generator button:active {
  background-color: #735d78;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media (max-width: 767px) {
  .App {
    background-size: cover;
  }
}
