.Generator img {
  width: 50%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
  display: block;
  margin: 2rem auto;
}

.Generator p {
  text-align: center;
  background-color: #d1b3c4;
  opacity: 80%;
  border-radius: 2rem;
  padding: 1.5rem;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  max-width: 20rem;
  display: block;
  margin: 1rem auto;
  font-family: "Karla", sans-serif;
  color: #735d78;
  font-size: 17px;
}

.Generator button {
  background-color: #d1b3c4;
  opacity: 80%;
  border-radius: 2rem;
  padding: 1.5rem;
  border: none;
  outline: none;
  text-align: center;
  box-shadow: 0 9px #999;
  display: block;
  margin: 0 auto;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #735d78;
  font-size: 14px;
}

.Generator button:hover {
  cursor: pointer;
  background-color: #b392ac;
  color: #735d78;
}

.Generator button:active {
  background-color: #735d78;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: #735d78;
}

@media (max-width: 900px) {
  .Generator p {
    font-size: 1.4rem;
  }
}
